@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&family=Rajdhani:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --heading-size: 2.5rem;
  --text-size: 2rem;
  --orbitron: 'Orbitron', sans-serif;
  --rajdhani: 'Rajdhani', sans-serif;
  --primary: #34df5d;
  --secondary: #083e6d;
  --black: #0a0a0a;
  --mattBlack: #171717;
  --white: #fff;
  --grey: #191919;
  --borderRadius: 1rem;
  --textShadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  --boxShadow: 2px 5px 8px rgba(0, 0, 0, 0.5);
}

body {
  background: var(--black);
}
section {
  z-index: 1;
}

.title {
  text-align: center;
  padding: 2rem 0;
  color: var(--white);
}
.title span {
  color: var(--primary);
}

body.lock-scroll {
  overflow: hidden;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, a, li, label {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--orbitron);
  font-size: var(--heading-size);
}

p, li, label,a {
  font-family: var(--rajdhani);
  font-size: var(--text-size);
}

a, label {
  text-transform: capitalize;
  cursor: pointer;
  transition: .5s ease-in-out;
}
ul {
  color: white;
  list-style: none;
}

.btn {
  position: relative;
  width: 10.5rem;
  height: 50px;
  margin: 0 5px;
}
.btn a {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255,255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255,255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: var(--borderRadius);
  color: var(--white);
  z-index: 1;
  text-decoration: none;
  font-size: 2rem;
  transition: .25s linear;
  
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter:blur(15px);
}
.btn:hover a {
  color: var(--white);
  letter-spacing: 1px;
}
.btn a::before {
  content: '';
  position: absolute;
  top: 0;
  left:0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15),transparent);
  transform:skewX(45deg) translateX(0);
  transition: 0.5s;
}
.btn:hover a::before {
  transform: skewX(45deg) translateX(200%);
}
.btn:before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 30px;
  height:10px;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}
.btn:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}
.btn::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top:-5px;
  width: 30px;
  height:10px;
  border-radius: 10px;
  transition: 0.5s;
}
.btn:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.btn::before,
.btn::after {
  background: var(--primary);
  box-shadow: 0 0 5px var(--primary),
              0 0 15px var(--primary),
              0 0 30px var(--primary),
              0 0 60px var(--primary);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bg-wrap {
  position: absolute;
  background: var(--primary);
  z-index: -1;
  width: 25rem;
  height: 25rem;
}
.bg-wrap-1 {
  top: 185px;
  left: 2%;
  z-index: -1;
}
.bg-wrap-2 {
  bottom: 72px;
  right: 2%;
  z-index: -1;
}

nav .nav-contact a {
  font-size: 1.25rem;
  font-weight: bold;
}
nav .logo p {
  font-size: 4rem;
}
.hero .image-box {
  z-index: 0;
}
.hero-content-box .image-box:before {
  pointer-events: none;
  content: '';
  position: absolute;
  background: var(--secondary);
  top: 35%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(10deg) scale(.5, 0.10);
  filter: blur(5em);
  border-radius: 50%;
  opacity: 0.7;
  z-index: -1;
}
.hero .btns {
  z-index: 1;
}

.hero .hero-content-box .content span {
  font-weight: 900;
}

.hero .overlay .overlay-corner {
  position: absolute;
  width: 50vw;
  height: 50vh;
  background: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid var(--white);
}
.hero .overlay-corner.blur {
  filter: blur(5px);
  opacity: 0.5;
  pointer-events: none;
}

.hero .overlay .overlay-corner.top-left {
  top: 0;
  left: -51vw;
}
.hero .overlay .overlay-corner.top-right {
  top: 0;
  right: -51vw;
}
.hero .overlay .overlay-corner.bottom-left {
  bottom: 0;
  left: -51vw;
}
.hero .overlay .overlay-corner.bottom-right {
  bottom: 0;
  right: -51vw;
}

.technical-skills .skills-box-container:nth-child(3) {
  padding-top: 1rem;
}

.about:before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0,0.7);
  z-index: 1;
}

#progress {
  position: fixed;
  display: none;
  place-items: center;
  width: 60px;
  height: 60px;
  bottom: 2rem;
  right: 2rem;
  z-index: 10;
  border-radius: 50%;
  box-shadow: var(--boxShadow);
  cursor: pointer;
  opacity: .7;
}
#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background: var(--white);
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 2rem;
  color: var(--mattBlack);
}
@media (max-width:1200px) {
  html {
    font-size: 62.5%;
  }
  .logo p {
    width: 90px;
    height: 90px;
  }
  
}
@media (max-width:800px) {
  html {
    font-size: 55%;
  }
  .navbar {
    position: absolute;
    flex-wrap: wrap;
    top: 110%;
    text-align: center;
  }
  .hero .image-box {
    width: 250px;
    height: 250px;
  }
  .navbar a {
    margin:2px;
  }
  .hero-content-box {
    padding-top: 10rem;
  }

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}







